body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0 auto;
  padding: 0 20px;
	max-width: 100%;
  /* padding: 0 0px; */
  background-color: lightgoldenrodyellow;
}

header {
  padding: 0 20px;
  background-color: purple;
  color: white;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header h1 {
  font-size: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
  font-size: 25px;
  padding: 0 20px;
}

nav {
  display: block;
}

nav a:hover {
  color: lightslategrey;
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.title {
  display: flex;
  flex: wrap;
  justify-content: space-between;
}

.about {
  text-align: left;
  font-size: 40px;
  padding: 20px;
  margin: 0;
}

/* .navActive {
  color: black;
} */

.nav-link active {
  color: black;
}

.footer {
  background-color: purple;
}

.footer a {
  color: white;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: 20px;
  width: 25%;
}

.project-titles {
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
